<!DOCTYPE html>
<html>

<head>
    <title>Using Vue in HTML</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .selectColor {
            height: 30px !important;
            border: 1px solid #67c23a !important;
            border-radius: 10px !important;
            width: 150px !important;
        }

        .imagesListColor {
            width: 300px !important;
            margin: 0 30px;
        }

        .priceColor {
            margin-top: 10px;
            font-weight: bold;
            margin-bottom: 10px;
            display: flex;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            text-align: center;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: auto;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>

    <div id="createLoader" class="modal">
        <div class="modal-content">
            <div class="loader"></div>
            <p>正在加载中...</p>
        </div>
    </div>

    <div id="app" style="margin: 10px; padding: 20px; justify-content: center;">
        <div style=" padding: 10px; display:flex; align-items: center;">
            <div>区域:</div>
            <el-select v-model="regionValue" placeholder="请选择" style=" padding: 20px; ">
                <el-option v-for="(item,index) in list" :key="index" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>

        <div style=" padding: 10px; display:flex; align-items: center;">
            <div>vCPU:</div>
            <input type="number" v-model="coresValue" min="1" max="500" style=" padding: 5px; " value="1">
            <div style=" padding-left: 20px; ">内存:</div>
            <input type="number" v-model="memoryValue" min="1" max="50000" style=" padding: 5px; " value="1">
        </div>

        <div style=" padding: 10px; display:flex; align-items: center;">
            <div>实例:</div>
            <el-select v-model="instanceValue" placeholder="请选择" style=" padding: 20px; ">
                <el-option v-for="(item,index) in instanceList" :key="index" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>

        <div style=" padding: 10px; display:flex; align-items: center;">
            <div>时间:</div>
            <el-select v-model="unitValue" placeholder="请选择" style=" padding: 20px; ">
                <el-option v-for="(item,index) in unitList" :key="index" :label="item" :value="item">
                </el-option>
            </el-select>

            <el-select v-model="periodValue" placeholder="请选择" style=" padding: 20px; ">
                <el-option v-for="(item,index) in periodList" :key="index" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>

        <div style="padding: 10px; display:flex; align-items: center;">
            <div>镜像:</div>
            <el-select v-model="imgValue" placeholder="请选择" style=" padding: 20px; ">
                <el-option v-for="(item,index) in imagesList" :key="index" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>

        <div style="padding: 10px; display:flex; align-items: center;">
            <div>原价:</div>
            <div id="originalPrice"></div>
            <div class="priceColor" style="padding: 10px;">折扣价:</div>
            <div id="tradePrice" class="priceColor"></div>
        </div>

        <div style="padding: 10px; display:flex; align-items: center;">
            <input type="text" id="password" min="8" max="20">

            <el-button type="success" @click="getClick">购买</el-button>
        </div>

        <div id="buyResults" style="padding: 10px; display:none; align-items: center;">
            <div class="priceColor">
                <div>请求ID: </div>
                <div id="RequestId"></div>
            </div>

            <div class="priceColor">
                <div>实例ID: </div>
                <div id="InstanceId"></div>
            </div>

            <div class="priceColor">
                <div>订单ID: </div>
                <div id="OrderId"></div>
            </div>

            <div class="priceColor">
                <div>成交价: </div>
                <div id="TradePrice"></div>
            </div>

            <div class="priceColor">
                <div>IP地址: </div>
                <div id="PublicIpAddress"></div>
            </div>
            <div class="priceColor">
                <div>密钥: </div>
                <div id="PrivateKey"></div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                regionValue: '',
                imgValue: '',
                instanceValue: '',
                unitValue: 'Week',
                coresValue: 1,
                memoryValue: 1,
                periodValue: 1,
                list: [],
                imagesList: [],
                instanceList: [],
                price: '',
                unitList: [
                    'Week',
                    'Month',
                    'Year',
                ],
                periodList: [
                    1,
                ],
            },
            mounted () {
                this.getRegions();
            },
            watch: {
                regionValue () {
                    this.getDescribeType();
                },
                instanceValue () {
                    this.getDescribeImages();
                },
                imgValue () {
                    this.getPrice();
                },
                unitValue () {
                    if (this.unitValue == 'Week') {
                        this.periodList = [1, 2, 3, 4]
                    } else if (this.unitValue == 'Month') {
                        this.periodList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
                    } else if (this.unitValue == 'Year') {
                        this.periodList = [1, 2, 3, 4, 5]
                    }
                    this.periodValue = 1
                    this.getPrice();
                },
                periodValue () {
                    this.getPrice();
                },
                coresValue () {
                    this.getDescribeType()
                },
                memoryValue () {
                    this.getDescribeType()
                },
            },
            methods: {
                checkRes (res) {
                    if (res.error) {
                        console.log('Error:', res.error);
                        this.$message(res.error.message)
                        return false
                    }

                    return true
                },
                fetchData (funcName, params, lotusToken) {
                    var data = {
                        "jsonrpc": "2.0",
                        "method": "titan." + funcName,
                        "params": params,
                        "id": 1
                    };

                    he = { "Authorization": ["Bearer " + lotusToken] }
                    if (lotusToken == "") {
                        he = { "Content-Type": "application/json" }
                    }

                    return fetch("/rpc/v0", {
                        method: "POST",
                        headers: he,
                        body: JSON.stringify(data)
                    })
                },
                getRegions () {
                    var data = {
                        "UserId": "abc",
                        "Signature": "titan.ssss",
                        "Address": "Adddr",
                    };

                    this.fetchData("Login", [data], "")
                        .then(res => res.json())
                        .then(res => {
                            console.log(' Token:', res.result.Token);
                            token = res.result.Token

                            var data = {
                                "UserId": "abc222",
                                "Signature": "titan.ssss",
                                "Address": "Adddr",
                            };

                            this.fetchData("Logout", [data], token)
                                .then(res => res.json())
                                .then(res => {
                                    console.log(' Response:', res);
                                })
                                .catch(error => console.error(' Error:', error));
                        })
                        .catch(error => console.error(' Error:', error));




                    // this.fetchData("DescribeRegions", [])
                    //     .then(res => res.json())
                    //     .then(res => {
                    //         console.log(' Response:', res);

                    //         if (!this.checkRes(res)) {
                    //             return
                    //         }
                    //         this.list = res.result || [];
                    //         this.regionValue = this.list[0];
                    //     })
                    //     .catch(error => console.error(' Error:', error));
                },
                getDescribeImages () {
                    if (!this.instanceValue) {
                        return false;
                    }

                    this.fetchData("DescribeImages", [this.regionValue, this.instanceValue])
                        .then(res => res.json())
                        .then(res => {
                            console.log(' Response:', res);

                            if (!this.checkRes(res)) {
                                return
                            }
                            this.imagesList = res.result || [];
                            this.imgValue = this.imagesList[0];
                        })
                        .catch(error => console.error(' Error:', error));
                },

                getDescribeType () {
                    this.instanceValue = '';
                    this.imgValue = '';

                    this.fetchData("DescribeInstanceType", [this.regionValue, this.coresValue, this.memoryValue])
                        .then(res => res.json())
                        .then(res => {
                            console.log(' Response:', res);

                            if (!this.checkRes(res)) {
                                return
                            }
                            this.instanceList = res.result || [];
                            this.instanceValue = this.instanceList[0];
                        })
                        .catch(error => console.error(' Error:', error));

                },

                getPrice () {
                    if (!this.checkValues(false)) {
                        return
                    }

                    this.fetchData("DescribePrice", [this.regionValue, this.instanceValue, this.unitValue, this.imgValue, this.periodValue])
                        .then(res => res.json())
                        .then(res => {
                            console.log(' Response:', res);

                            if (!this.checkRes(res)) {
                                return
                            }
                            const originalPrice = document.getElementById('originalPrice');
                            originalPrice.innerHTML = res.result.OriginalPrice;
                            const tradePrice = document.getElementById('tradePrice');
                            tradePrice.innerHTML = res.result.TradePrice;
                        })
                        .catch(error => console.error(' Error:', error));
                },

                checkValues (show) {
                    if (!this.regionValue) {
                        if (show) {
                            this.$message('请选择区域');
                        }
                        return false;
                    }
                    if (!this.imgValue) {
                        if (show) {
                            this.$message('请选择镜像');
                        }
                        return false;
                    }
                    if (!this.instanceValue) {
                        if (show) {
                            this.$message('请选择实例');
                        }
                        return false;
                    }

                    return true;
                },

                // checkPassword (text) {
                //     if (!text) {
                //         this.$message('请输入密码');
                //         return false;
                //     }
                //     return true
                // },

                getClick () {
                    document.getElementById("buyResults").style.display = "none";

                    if (!this.checkValues(true)) {
                        return
                    }

                    // password = document.getElementById('password').value;
                    // if (!this.checkPassword(password)) {
                    //     return
                    // }
                    // console.log(password)

                    this.showLoading()

                    this.fetchData("CreateInstance", [this.regionValue, this.instanceValue, this.unitValue, this.imgValue, this.periodValue])
                        .then(res => res.json())
                        .then(res => {
                            console.log(' Response:', res);

                            this.hideLoading()
                            if (!this.checkRes(res)) {
                                return
                            }
                            document.getElementById("buyResults").style.display = "block";

                            const instanceIDLabel = document.getElementById('InstanceId');
                            instanceIDLabel.innerHTML = res.result.InstanceId;
                            const orderIDLabel = document.getElementById('OrderId');
                            orderIDLabel.innerHTML = res.result.OrderId;
                            const requestIDLabel = document.getElementById('RequestId');
                            requestIDLabel.innerHTML = res.result.RequestId;
                            const tradePriceLabel = document.getElementById('TradePrice');
                            tradePriceLabel.innerHTML = res.result.TradePrice;
                            const publicIpAddressLabel = document.getElementById('PublicIpAddress');
                            publicIpAddressLabel.innerHTML = res.result.PublicIpAddress;
                            const PrivateKeyLabel = document.getElementById('PrivateKey');
                            PrivateKeyLabel.innerHTML = res.result.PrivateKey;
                        })
                        .catch(error => console.error(' Error:', error));
                },

                showLoading () {
                    document.getElementById("createLoader").style.display = "block";
                    setTimeout(this.hideLoading, 5 * 1000);
                },

                hideLoading () {
                    document.getElementById('createLoader').style.display = 'none';
                },

                showCreateResult (res) {

                }
            }
        });
    </script>
</body>

</html>